.vertical-timeline-element-content {
    background: rgba(1, 1, 1, 0.4) !important;
    border: 1px solid #FFFFFF !important;
    box-sizing: border-box !important;
    box-shadow: 4px 4px 9px rgba(182, 228, 106, 0.25) !important;
    border-radius: 15px !important;
}