.contentwrapperDemo {
    float: left;
    width: 100%;
    background: url('../../img/MainBanner.png') no-repeat;
    align-items: center;
    background-color: #000 !important;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    @media (max-width: 1336px) {
      height: 100%;
    }
}

.centerDemo {
    float: left;
    width: 100%;
    height: calc(100vh - 5vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0px 54px;
    @media (max-width: 1336px) {
      margin: 150px 54px;
      height: 100%;
    }
    @media (max-width: 1265px) {
      margin: 150px 20px;
      height: 100%;
    }

    h2 {
      font-weight: 700;
      font-size: 54px;
      line-height: 73px;
      font-family: "Fira Sans Light";
      color: #ffffff;
      @media (max-width: 1336px) {
        font-size: 51px;
      }

      @media (max-width: 1265px) {
        font-size: 30px;
        line-height: 40px;
      }
    }

    p {
        font-size: 20px;
        color: #ffffff;
        width: 30%;
        text-align: center;
        margin: 1.5rem 0;
        display: flex;
        width: 100%;
        justify-content: center;
      }


  }

  #demoVid {
    // max-width: 960px;
    width: 100%;
  
    *::-webkit-media-controls-panel {
  
      display: none !important;
    
      -webkit-appearance: none;
    
    }
    
    *::--webkit-media-controls-play-button {
    
      display: none !important;
    
      -webkit-appearance: none;
    
    }
    
    *::-webkit-media-controls-start-playback-button {
    
      display: none !important;
    
      -webkit-appearance: none;
    
    }
    @media (max-width: 992px) {
      max-width: 760px;
    }
  }