.btnContainer {
    background: #4770ff !important;
    color: white !important;
    text-transform: capitalize !important;
    padding: 10px 27px !important;
    border-radius: 10px;
    box-shadow: -2px -19px 27px -11px rgba(20, 114, 255, 0.45);
    text-align: center;
    display: flex;
    font-size: 15px !important;
    font-family: PlusjakartaSans !important;
    box-shadow: #4770ff ;
    // width: fit-content;
    
  }
  
  .btnImage {
    padding-left: 1rem;
    // width: 20%;
  }
  .btnMain{
    display: contents;
    // flex-wrap: nowrap;
    color: #D0D4DE;
  }
  