.header-Container{
    padding-bottom: 10px;
    position: relative;
    top: 73px;
}

.lan-evm-image{
    text-align: center;
}

.info-evm-Container{
    // margin: 1rem 0 4rem 0 !important;
}

.animationImgs{
    width: 50%;
}

.launch-whole-container{
    font-family: PlusjakartaSans;
    padding: 0px;
    overflow: hidden;
}

.font-color{
    background: linear-gradient(88.49deg,#7afbe4 30.72%,#4a54f4 84.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lan-header{
    font-size: 5rem;
    text-align: center;
    font-weight: 600;
    font-size: 8rem;
}

.lan-description{
    text-align: center;
    color: #D0D4DE;
    position: relative;
    bottom: 20px;
    font-size: 15px;
}

.curve-bg{
    background-image: url('../../assets//image/hyperLaunch/Hero_section.svg') !important;
    // background: #34385B4A;
    // position: absolute;
    // background: rgba(52, 56, 91, 0.29);
//    filter: blur(1024px);
background-repeat: no-repeat;
background-size: 100%;
   padding-bottom: 3rem;
   
}

.info-Container{
    padding: 22rem 0 0 0;
    // border-top: 1px solid gray;
    // border-top-left-radius: 20px;
}

.lan-info-container{
    color: #D0D4DE;
    text-align: center;
    font-size: 2.7rem;
    // font-weight: 500;
}

.lan-info-header{
    text-align: center;
    font-size: 64px;
    font-weight: 600;
}

.lan-hyper{
    margin: 4rem 0;
    width: 80% !important;
}

.lan-evm-content{
    text-align: center;
    color: #D0D4DE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}

.evm-text{
    text-align: start;
    padding-left: 5rem;
    color: #D0D4DE;
    font-size: 40px;
    font-weight: 600;
}

.launchPad-evm{
    text-align: center;
}

.cads-header{
    text-align: center;
    color: #D0D4DE;
    font-size: 1rem;
}

.each-cards{
    margin: 2rem 0 !important;
}

.each-cards .MuiGrid-item{
    padding: 4rem 3rem !important;
}

.cards-title{
    color: #D0D4DE;
    font-size: 1.4rem;
    font-family: PlusjakartaSans_bold;
}

.card-sub-title{
    font-size: 1.4rem;
    font-weight: 600;
}

.card-view{
    color: #D0D4DE;
    background: #182835;
    padding: 0 2rem !important;
    border-radius: 20px;
    height: fit-content;
    margin: 10px !important;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.launchPad-content{
    margin: 2rem 0 !important;
    padding: 1rem;
}

.info-wrap{
    margin: 2rem 0 !important;
}

.wrap-reverse{
    flex-wrap: wrap-reverse !important;
}