.about-whole-container {
  margin: 2rem 0 0 0 !important;
  font-family: PlusjakartaSans;
}

.about-header {
  font-size: 54px;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

.about-description {
  font-size: 15px;
  color: #d0d4de;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}

.ab-in-content {
  text-align: start;
}

.font-color {
  background: linear-gradient(88.49deg, #7afbe4 30.72%, #4a54f4 84.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mis-tite {
  color: #d0d4de;
  font-size: 40px;
  font-weight: 600;
}

.mission-text {
  color: #d0d4de;
  font-size: 15px;
  padding: 10px;
}

.abt-mis-content {
    // padding: 60px;
}

.abt-mis-Container {
  margin: 2rem 0 !important;
}

.profile-container {
  background: linear-gradient(
      89.79deg,
      rgba(255, 255, 255, 0.14) 17.54%,
      rgba(0, 0, 0, 0) 80.59%
    ),
    linear-gradient(
      60.37deg,
      rgba(255, 255, 255, 0.064) 31.29%,
      rgba(110, 250, 235, 0.2) 74.69%
    );
  padding: 25px;
  border-radius: 20px;
  text-align: start;
  margin: 0 33px !important;
  height: fit-content;
}

.profile-img{
    width: 100%;
}

.profile-name{
    color: #D0D4DE;
    font-size: 23px;
    font-weight: 600;
    padding: 7px 0;
}

.profile-desg{
    color: #989FAA;
    font-size: 17px;
}

.link-img{
    padding-top: 30px;
    padding-bottom: 10px;
    width: 13%;
}

.abt-last{
    margin: 3rem 0 !important;
}

.info-about-Container{
  margin-top: 5rem !important;
}

.animationImgs{
  // width: 70%;
}


@media screen and (min-width: 200px)  and (max-width:550px) {
  .profile-container{
    margin: 0 0 1rem 0 !important;
  }
  .info-about-Container{
    margin-top: 2rem !important;
  }
  }