.Common_Title{
    font-size:40px ;
    font-weight: 700;
    line-height: 64px;
    /* or 133% */
    font-family: 'Plus Jakarta Sans';
    
    /* Main white */
    
    color: #D0D4DE;

}
.Common_Subtitle{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    
    /* Main white */
    
    color: #D0D4DE;
    
    opacity: 0.7;

}