
.partner-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.sub-partner {
    display: flex;
    width: 80%;
    padding: 3rem;
    border-radius: 10px;
    background: #FFFFFF05;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PartnerTitle {
    // font-family: 'PlusJakartaSansRegular';
    // src: url(${PlusJakartaSansRegular}) format('ttf');
    // font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 2rem;
    color: #D0D4DE;
}

.logo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.each-img {
    width: 150px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 135px;
}

.Partnerimg {
    width: 177px;

    @keyframes spin {
        from {
            transform: rotateY(0);
        }

        to {
            transform: rotateY(1turn);
        }
    }

    // {
    animation: spin 5s ease;
    animation-iteration-count: infinite;
    // }
}

@media only screen and (min-width:768px) and (max-width: 1000px) {
    .each-img {
        width: 100px !important;
        height: 88px !important;
    }
}