@mixin borderadius($val){
    border-radius: $val;
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
}
@mixin sections{
    float: left;
    width: 100%;
    // padding: 170px 200px 0 170px;
}