@import './css/layout.scss';
@import './css/responsive.scss';
@import './font.css';

body  {
    iframe{
        position: unset !important;
        z-index: unset !important;
        display: none !important;
    }
   
}

.main-container{
    padding: 0px !important;
    margin-top: 20px !important;
}